
	<nav>
		<div class="container mt-3">
			<div class="row">
				<div class="col">
					<img
						class="logo"
						src="./images/logo-airbnb.png"
						alt="airbnb-logo"
					/>
				</div>
				<div class="col text-end">

					{{#if user}}
					<!-- user login -->
					<button type="button" class="btn btn-outline-secondary">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt=""
							class="rounded-circle avatar"
						/>
						{{user.name}}
					</button>
					<button type="button" class="btn btn-outline-secondary">
						logout
					</button>

					{{else}}
					<!--if user is not login-->
					<button type="button" class="btn btn-outline-secondary">
						login
					</button>
					{{/if}}

				</div>
			</div>
		</div>
	</nav>
