
	<nav>
		<div class="container mt-3">
			<div class="row">
				<div class="col">
					<img
						class="logo"
						src="./images/logo-airbnb.png"
						alt="airbnb-logo"
					/>
				</div>
				<div class="col text-end">

					{{#if user}}
					<!-- user login -->
					<button type="button" class="btn btn-outline-secondary">
						<img
							src="{{user.avatar}}"
							alt=""
							class="rounded-circle avatar"
						/>
						{{user.name}}
					</button>

          <a href="/auth/logout" class="btn btn-outline-secondary">logout</a>

					{{else}}
					<!--if user is not login-->
					<a href="/auth/login" class="btn btn-outline-secondary">login</a>
					{{/if}}

				</div>
			</div>
		</div>
	</nav>
