<!-- {{message}}
{{error.stack}}
<nav>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <img
              class="logo"
              src="./images/logo-airbnb.png"
              alt="airbnb-logo"
            />
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-outline-secondary">
              Login
            </button>
          </div>
        </div>
      </div>
    </nav> -->
    <!-- error Message -->
    <!-- <div class="container mt-4">
      <div class="card bg-danger" style="--bs-bg-opacity: .2; ">
        <div class="card-body">
          <span>{{message}}</span>
        </div>
      </div>
      <div class="error-text mt-4">
        {{error.stack}}
      </div>
    </div> -->
