<div class="img-bg">
      <div class="main-box ">
        <form
          class="welcome position-absolute top-50 start-50 translate-middle "
        >
          <!-- logo -->
          <div class="card">
            <div class="card-body mt-5 m-1 " style="width: 400px;">
              <div class="text-center">
                <img
                  src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
                  alt=""
                />
              </div>
              <!-- form info -->

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
                <label for="inputPassword" class="">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                />
                <button type="button" class="btn btn-success my-2">
                  Login
                </button>
                <div>
                  <small
                    >New to airbnb?<a class="ms-1" href="">signup</a></small
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
