<div class="container mt-4">
      <h1>List a House</h1>
      <form class="">
        <small>Short Title</small>
        <input class="form-control mb-2" type="text" />
        <small>Description</small>
        <label for="exampleFormControlTextarea1" class="form-label mb-2"></label
        ><textarea
          class="form-control mb-2"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <small>Number of Rooms</small>
        <input type="number" class="form-control mb-2" />
        <small>Location</small>
        <select type="number" class="form-select mb-2">
          <option selected></option>
          <option value="1">Koh Phangan</option>
          <option value="2">Koh Samui</option>
          <option value="3">Bali</option>
          <option value="4">Denver</option>
          <option value="5">Las Vegas</option>
          <option value="6">Mexico City</option>
        </select>
        <small>Price(per night)</small>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
        </div>
        <small>Add Photos(up to 9)</small>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <div class="mb-">
          <input
            class="form-control"
            type="text"
            placeholder="http://..."
            aria-label="default input example"
          />
        </div>
        <button type="button" class="btn btn-success mb-5">Submit</button>
      </form>
    </div>
